* {
    margin: 0 auto;
    background-color: rgb( 69 69 69);
    color: #FFF;
    vertical-align: top;
    /* border: 1px solid green; */
    text-align: center;
}
#container {
    display: flex;
    height: 30rem;
    width: 80%;
}
#main_form{
    margin: auto;
    background-color: rgb(141, 0, 0);
    padding: 20px;
}
#contact_container {
    margin: auto;
    background-color: royalblue;
    display: none;
    padding: 0.125em;
    /* width: 10%;
    height: 20%; */
}
#contact_form{
    background-color: black;
}
.inputs{
    display: block;
    margin: 10px auto;
    padding: 10px;
}
button{
    cursor: pointer;
}
.contact_card_front{
    padding: 0.125em;
    display: inline-block;
}
.contact_card_back{
    display: none;
}
.contact_card{
    padding: 0.5em;
    /* margin: 1em auto; */
    border: 0.125em solid rgb(0, 0, 0);
}